@model IEnumerable<AustinStockAdvisor.Library.Change>

@{
    ViewData["Title"] = "Get";
}
<head>
    <link href="@Url.Content("~/bootstrap-4.0.0-dist/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head> 
<h3>"{WeeksToGoBack}/{MaxHigh}/{MinChange}/{Avg_Volume}"</h3>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeeksToGoBack)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Max_High)
                </th>
                <th>
                    ExternalUrl
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avg_Volume)
                </th>
        </tr>
    </thead>
    <tbody>
@{var link = "";
    foreach (var item in Model)
    {
        link = "/stock/share/" + item.Symbol;
        <tr>
            <td>
                <a href="@link" target="_blank">@Html.DisplayFor(modelItem => item.Symbol)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeeksToGoBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_High)
            </td>
            <td>
                <a href="@item.Url" target="_blank">External Link</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avg_Volume)
            </td>
        </tr>
          }
    }
    </tbody>
</table>
