@model List<AustinStockAdvisor.Library.Change>;
@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>
<h3>"{WeeksToGoBack}/{MaxHigh}/{MinChange}/{Avg_Volume}"</h3>

@{ 
    foreach (var item in Model)
    {
        <p><a href="@item.Url" target="_blank">@item.Symbol</a> - @item.Avg_Volume - @item.Max_High - @item.WeeksToGoBack</p>
    }
}

