@model AustinsFirstProject.Github_Api.Model.Repository

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>Repository</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Full_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Full_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Private)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Private)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Html_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Html_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Archive_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Archive_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assignees_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assignees_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blobs_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blobs_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branches_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branches_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clone_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clone_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collaborators_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collaborators_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commits_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commits_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Compare_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Compare_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contents_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contents_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contributors_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contributors_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deployments_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deployments_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Downloads_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Downloads_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Events_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Events_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Forks_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forks_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Git_commits_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Git_commits_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Git_refs_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Git_refs_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Git_tags_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Git_tags_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Git_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Git_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hooks_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hooks_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue_comment_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue_comment_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue_events_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue_events_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issues_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issues_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Keys_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Keys_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Labels_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Labels_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Languages_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Languages_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Merges_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Merges_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Milestones_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Milestones_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mirror_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mirror_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notifications_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notifications_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pulls_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pulls_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Releases_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Releases_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssh_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssh_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stargazers_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stargazers_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statuses_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statuses_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subscribers_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subscribers_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subscription_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subscription_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Svn_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Svn_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tags_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teams_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teams_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trees_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trees_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Homepage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Homepage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Forks_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forks_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stargazers_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stargazers_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Watchers_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Watchers_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Default_branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Default_branch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Open_issues_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Open_issues_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Has_issues)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Has_issues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Has_wiki)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Has_wiki)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Has_pages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Has_pages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Has_downloads)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Has_downloads)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pushed_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pushed_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allow_rebase_merge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allow_rebase_merge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allow_squash_merge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allow_squash_merge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allow_merge_commit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allow_merge_commit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subscribers_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subscribers_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Network_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Network_count)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
