@model AustinsFirstProject.Github_Api.Model.Commits

@{
    ViewData["Title"] = "RepoCommits";
    Layout = "~/Views/Layout.cshtml";
}

<head>
    <script src="~/PatchBeautifier.js" type="text/javascript"></script>
</head>

<script>
    function File_Clicked(_commit_counter, _file_counter, _FileName ,_RawUrl)
    {
        $('.patches.active').removeClass('active');
        $('.patches.show').removeClass('show');

        if (!$('#patches_' + _commit_counter + '_' + _file_counter).hasClass('show')) {
            $('#patches_' + _commit_counter + '_' + _file_counter).addClass("show");
        }

        if (!$('#patches_' + _commit_counter + '_' + _file_counter).hasClass('active')) {
            $('#patches_' + _commit_counter + '_' + _file_counter).addClass("active");
        }
    }
    function Commit_Clicked(_counter, _repo_id, _sha)
    {
        $('.patches.active').removeClass('active');
        $('.patches.show').removeClass('show');
        
        $('#col-b-tabcontent div.active').removeClass('active');
        $('#col-b-tabcontent div.show').removeClass('show');

        if (!$('#col_b_' + _counter).hasClass('show')) {
            $('#col_b_' + _counter).addClass("show");
        }

        if (!$('#col_b_' + _counter).hasClass('active')) {
            $('#col_b_' + _counter).addClass("active");
        }

        if ($('#author_' + _counter).has("img").length)
        {
            $('#patches_' + _counter + '_1').addClass("active");
            $('#patches_' + _counter + '_1').addClass("show");

           /* console.log('Already assigned.'); */
            return;
        } else {
            /*console.log('Not Assigned Yet.');*/
        }
        var url = "/Repository/Get_Commit/" + _repo_id + "/" + _sha;

        // post request
        $.post(url, { })
            .fail(function (e) {
                console.log(url + ' Msg: ' + e);
            })
            .done(function (result) {
                console.log(result);
                result = JSON.parse(result);

                var html_code = '<div class="container">';

                html_code += '<div class="float-left card" style="width: 9rem;">';
                html_code += '<img alt="" class="card-img-top" src="' + result.Author.AvatarUrl + '">';
                html_code += '<div class="card-body">';
                html_code += '<h5 class="card-title">Author</h5>';
                html_code += '<a href="' + result.Author.HtmlUrl + '" target="_blank">' + result.Author.Login + '</a>';
                html_code += '</div>';
                html_code += '</div>';

                html_code += '<div class="card float-left" style="width: 9rem;">';
                html_code += '<img alt="" class="card-img-top" src="' + result.Committer.AvatarUrl + '">';
                html_code += '<div class="card-body">';
                html_code += '<h5 class="card-title">Committer</h5>';
                html_code += '<a href="' + result.Committer.HtmlUrl + '" target="_blank">' + result.Committer.Login + '</a>';
                html_code += '</div>';
                html_code += '</div>';

                html_code += '<br><div class="container">';
                html_code += '<a class="btn btn-primary" role="button" href="' + result.HtmlUrl + '" target="_blank">';
                html_code += 'Details';
                html_code += '</a>';
                html_code += '</div></div><br>';

                $('#author_' + _counter).empty();
                $('#author_' + _counter)[0].innerHTML = html_code;

                $('#col-b-tabcontent div.active').removeClass('active');
                $('#col-b-tabcontent div.show').removeClass('show');

                if (!$('#col_b_' + _counter).hasClass('show')) {
                    $('#col_b_' + _counter).addClass("show");
                }

                if (!$('#col_b_' + _counter).hasClass('active')) {
                    $('#col_b_' + _counter).addClass("active");
                }

                var patches_counter = 0;
                html_code = '<div class="list-group d-inline-flex p-2" id="file_list_' + _counter + '" role= "tablist" ><h6>Files</h6>';
                $.each(result.Files, function (i, item) {
                                       
                    patches_counter++;

                    var id = 'patch_draw_' + _counter + '_' + patches_counter;
                    var filename = '<a href="' + item.RawUrl + '" target="_blank">' + item.Filename + '</a>';

                    $('#col-c-tabcontent').append('<div class="patches tab-pane fade border-dark" id="patches_' + _counter + '_' + patches_counter + '"><div id="' + id + '">' + Beautify_Patch_for_Bootstrap(filename, item.Patch) + '</div></div>');

                    html_code += '<a href="#" onclick="File_Clicked(' + _counter + ',' + patches_counter + ',' + '\'' + item.Filename + '\',\'' + item.RawUrl + '\')" class="list-group-item list-group-item-action flex-column align-items-start bg-transparent">';
                    html_code += '<p class="mb-1">' + item.Filename + '</p></a>';
                });
                html_code += '</div>';

                $('#files_' + _counter).empty();
                $('#files_' + _counter)[0].innerHTML = html_code;
                
                $('#patches_' + _counter + '_1').addClass("active");
                $('#patches_' + _counter + '_1').addClass("show");
            });
    }
</script>
<h5>Commit Messages</h5>
<div class="row h-100">
    <div class="col-2 h-100">
        <div class="list-group h-100 mh-100 pre-scrollable">
            @{  var counter = 0;
                foreach (var item in Model.Commit_Event_List)
                {
                    counter++;
                <a href="#" id="commit_@counter" onclick="Commit_Clicked('@counter', '@Model.Repository_Id', '@item.Sha')" class="list-group-item list-group-item-action flex-column align-items-start bg-transparent">
                    <p class="mb-1">@item.Commit.Message</p>
                    @*<div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">@item.Commit.Committer.Name (@item.Commit.Committer.Email)</p>
                        <small>@item.Commit.Committer.Date</small>
                    </div>*@
                </a>
                }
                }
        </div>
    </div>

    <div class="col-auto h-100" id="col-b">
        <div class="tab-content" id="col-b-tabcontent">
            @{
                var a = 0;
                for (a = 1; a <= counter; a++)
                {
                    <div class="tab-pane fade" id="col_b_@a">
                            <div class="container" id="author_@a">

                            </div>
                            <div id="files_@a"></div>                        
                    </div>
                }
            }
        </div>
    </div>

    <div class="col h-100">
        <div class="tab-content" id="col-c-tabcontent">
            @*@{
                for (a = 1; a <= counter; a++)
                {
                    <div id="patch_@a">
                    </div>
                    
                }
            }*@
        </div>
    </div>

</div>
