@model AustinsFirstProject.Git_Web_App.Model.Git_Url_Basic_Info;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Static/Layout.cshtml";
}

<br />
<div class="container-fluid h-100">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item myItem">
            <a class="nav-link active myLink" data-toggle="tab" href="#commits" role="tab" aria-controls="home">History</a>
        </li>
        <li class="nav-item myItem">
            <a class="nav-link myLink" data-toggle="tab" href="#test" role="tab" aria-controls="profile">Test</a>
        </li>
    </ul>

    <div class="tab-content fill">
        <div class="tab-pane active fill" id="commits" role="tabpanel">
            <div id="history" class="row fill">
                <div class="container-fluid fill">
                    <div class="row fill">
                        <div class="col-2 fill">
                            <div class="container pre-scrollable fill">
                                <ul class="nav flex-column" id="myTab_2" role="tablist">
                                    @{  var counter = 0;
                                        foreach (var item in Model.Git_Commits.Git__Commits)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" id="commit_@counter" data-toggle="tab" href="#commit_detail_@counter" role="tab" aria-controls="commit_detail_@counter">
                                                        <p class="font-weight-bold">@item.MessageShort</p>
                                                        <p>@item.Author.Name committed on @item.Author.When</p>
                                                </a>
                                            </li>
                                            counter++;
                                        }
                                    }
                                 </ul>
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="container tab-content" id="myTab_2_Content">
                                @{  counter = 0;
                                    foreach (var item in Model.Git_Commits.Git__Commits)
                                    {
                                        <div class="row border tab-pane" id="commit_detail_@counter" role="tabpanel" aria-labelledby="commit_@counter">
                                            <p class="font-weight-bold">@item.Message</p>
                                        </div>
                                        counter++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fill" id="test" role="tabpanel">
            <div id="name" class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <div class="container">
                                @foreach (var item in Model.Git_Commits.Git__Commits)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <p>@item.Author.Name</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="container bg-secondary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTab .myItem .myLink').click(function (e) {
        $('#myTab .myItem a.active').removeClass('active');
        if (!$(this).hasClass('active')) {
            $(this).addClass('active');
        }
        e.preventDefault();
    })
</script>



    
