@using Newtonsoft.Json;

@model AustinsFirstProject.Git_Web_App.Areas.Home.Models.Home

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Static/Layout.cshtml";
}

<br />
<div>
    @if (Model.Name_Url.Count > 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="navbar navbar-light bg-faded">
                        <ul class="nav navbar-nav flex-column">

                            @{ var counter = 0;
                                foreach (var item in Model.Name_Url)
                                {
                                    if (counter == 0)
                                    {
                                        <a class="nav-item nav-link active nav-pills" data-toggle=tab href="#urls_@counter">@item["name"]</a>
                                    }
                                    else
                                    {
                                        <a class="nav-item nav-link nav-pills" data-toggle=tab href="#urls_@counter">@item["name"]</a>
                                    }
                                    counter++;
                                }
                            }

                        </ul>
                    </div>
                </div>

                <div class="col-lg">

                    <div class="tab-content">

                        @{
                            counter = 0;
                            foreach (var item in Model.Basic_Info)
                            {
                                var git_basic_info_object = item.Values.ElementAtOrDefault(0);

                                <div class=tab-pane active id="urls_@counter">
                                    
                                            <div class="card">
                                                <h4 class="card-title">Git Url</h4>
                                                <p class="card-text">@git_basic_info_object.Url</p>
                                                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                                            </div>
                                            
                                                @if (git_basic_info_object.IsValid)
                                                {
                                                    <p class="text-success font-weight-bold text-center">Valid Git Repository</p>

                                                    <div class="card">
                                                        <h4 class="card-title">Branches</h4>
                                                        <p class="card-text">
                                                        <ul>
                                                        @foreach (var branch in git_basic_info_object.repository.Branches)
                                                        {
                                                            @if (@branch.IsCurrentRepositoryHead)
                                                            {
                                                                <li>@branch.FriendlyName - <span class="text-success text-capitalize font-weight-bold">head</span></li>
                                                            }
                                                            else
                                                            {
                                                                <li>@branch.FriendlyName</li>
                                                            }
                                                        }
                                                        </ul>
                                                        </p>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="card">
                                                        <p class="card-text text-danger font-weight-bold">InValid Git Repository</p>
                                                    </div>
                                                }

                                           </div>

                                counter++;
                            }
                        }
                    </div>
                </div>
             </div>
            </div>
                }
                else
                {
                <div>Navigate to Setup in Header bar.</div>
                }
            </div>
