
<html>
<head>
    <title>Test.cshtml</title>
    <link href="@Url.Content("~/CSS/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>

</head>

<body>
    <header>Header</header>

    <aside>
        <h2>@Html.RouteLink("Home", new { action = "Index", controller = "Home", area = "Home" })</h2>
        <h2>@Html.RouteLink("Setup", new { action = "Index", controller = "Url", area = "Url" })</h2>
    </aside>

    <div id="content">
        @RenderBody()
    </div>

    <footer>Footer</footer>
</body>
</html>