@model List<AustinStockAdvisor.Library.Company>

@{
    ViewData["Title"] = "Stock_Companies";
}
<head>
    <script src="~/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<script>
    function robinhood_button(symbol) {
        $.get("Company/Company_Alter_Robinhood", { symbol: symbol })
            .done(function (result) {
                console.log(result);
            })
            .fail(function (error) {
                console.log(error)
            })
    }
</script>

@{  var robinhood_color = "";
    var link = "";
    foreach (var item in Model)
    {
        if (item.Robinhood) { robinhood_color = "#53f442"; } else { robinhood_color = "#f44242"; }
        link = "/stock/share/" + item.Symbol;

        <p><a href="@link" target="_blank">@item.Symbol</a> - @item.Name - <button style="background-color:@robinhood_color" class="Robinhood_Button" id="@item.Symbol" onclick="robinhood_button('@item.Symbol')">Robinhood</button></p>
    }
}